<div class="side-bar me-5 ms-0">
    <a href="/" class="text-decoration-none text-white d-flex justify-content-center mt-5 mb-5">
        <i class="fa-brands fa-twitter fa-2xl"></i>
    </a>
    <div class="border rounded p-3 text-center">
        <p>Welcome, <strong><%= @user.name%></strong></p>
        <p>@<strong><%= @user.username%></strong></p>
        <p>Followers: <%= @followers%></p>
        <p>Following: <%= @following%></p>
    </div>
    <%= link_to 'Logout', login_path, data: { turbo_method: :delete }, data: {confirm: "Are you sure?"}, class: "btn btn-light my-3" %>
</div>
