<h1>Login</h1>


<div class="p-3">
<%= form_with(scope: :auth, url: login_path, local: true) do |f|%>
    <p>
        <%=f.label :username%>
        <br>
        <%=f.text_field :username%>
    </p>
    <p>
        <%=f.label :password%>
        <br>
        <%=f.password_field :password%>
    </p>
    <button type="submit">Log In</button>
<%end%>
<a href="/signup">Sign up</a>

</div>

