<% if @tweets.count < 1 %>
    <p>No Tweets to see.</p>
<%else%>
    <%@tweets.each do |tweet|%>
        <div class="container border p-2 tweet-width">
        <%# tweet creator info %>
            <div class="d-inline-flex rounded p-2" onclick="location.href='/user_profile/<%=tweet.user.id%>';">
                <p style="margin-right: 5px;"><%=tweet.user.name%></p>
                <p style="color: gray; cursor: pointer;">@<%=tweet.user.username%></p>
            </div>
            <%# tweet message %>
            <div class="" style="cursor: pointer;" onclick="location.href='/tweet/<%=tweet.id%>';">
                <div class="container" >
                    <h6 style="font-family: Tahoma, sans-serif;"><%=tweet.message%></h6>
                </div>
            <%# tweet image %>
            <%if tweet.image?%>
                <div class="container d-flex align-items-center justify-content-center">
                    <img class="tweet_img border mt-2 " src="<%=tweet.image%>" alt="image from @<%=tweet.user.username%>>">
                </div>
            <%end%>

            </div>
            <%# like and comments buttons %>
            <div class="container d-flex align-items-center justify-content-end" >
                <%# time tweeted %>
                <div class="container">
                    <small style="color: gray;"><%=time_ago_in_words(tweet.created_at)%> ago</small>
                </div>
                <%# Like count %>
                <i class="fa-solid fa-heart me-2"></i>
                <span><%= tweet.likes.count%></span>
                <%# comment count %>
                <div>
                    <div class="d-flex align-items-center justify-content-end" onclick="location.href='/tweet/<%=tweet.id%>';">
                        <button class="btn"><i class="fa-regular fa-comment"></i></button>
                        <span><%= tweet.comments.count%></span>
                    </div>
                </div>
            </div>
            <%# end of likes and comments %>
        </div>
    <%end%>
<%end%>
