<div class="container d-flex justify-content-start ">
    <%=render 'components/side_bar'%>
</div>
<div class="container d-flex logo-mobile">
    <%=render 'components/back_button'%>
</div>
<div class="container p-2 d-flex flex-column justify-content-center align-items-center mt-3">

    <%# tweet creater info %>
    <div class="border rounded p-3 tweet-width">
        <div class="d-inline-flex align-items-center" style="cursor: pointer;" onclick="location.href='/user/<%=@tweet.user.id%>';">
            <p style="margin-right: 5px;"><%=@tweet.user.name%></p>
            <p style="color: gray; margin-right: 5px;">@<%=@tweet.user.username%></p>
            <p style="color: gray; font-size: smaller;">• <%=time_ago_in_words(@tweet.created_at)%></p>
        </div>
        <%# message %>
        <div class="container">
            <p class="fs-4"><%=@tweet.message%></p>
        </div>
        <%# image %>
        <%if @tweet.image?%>
            <div class="container d-flex align-items-center justify-content-center">
                <img class="tweet_img mb-3 border" src="<%=@tweet.image%>" alt="">
            </div>
        <%end%>

        <%# like and comment container %>
        <div class="container d-flex align-items-center justify-content-end" >
            <%if @user.liked_tweet?(@tweet.id)%>
                <%= link_to '<i class="fa-solid fa-heart"></i>'.html_safe, like_path(@tweet), data: {turbo_method: :delete}, class: "btn"%>
            <%else%>
                <form action="/like/<%=@tweet.id%>" method="post">
                    <button type="submit" class="btn"><i class="fa-regular fa-heart"></i></button>
                </form>
            <%end%>
            <span><%= @tweet.likes.count%></span>
            <div>
                <div class="d-flex align-items-center justify-content-end" onclick="location.href='/tweet/<%=@tweet.id%>';">
                    <button class="btn"><i class="fa-regular fa-comment"></i></button>
                    <span><%= @tweet.comments.count%></span>
                </div>
            </div>
        </div>
        <%# delete tweet %>
        <%if @tweet.user_id == session[:user_id]%>
        <div class="position-relative mt-5">
            <%= link_to 'Delete', tweet_path(@tweet), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger position-absolute bottom-0 end-0"%>
        </div>
        <%end%>
    </div>
    <%# comments %>
    <div class="mb-3 mt-3 tweet-width">
        <p>Comments</p>
        <%# new comment form %>
        <%=form_with(model: @comment, local: true) do |f|%>
            <%=f.text_area :message, class: "form-control div-c", placeholder: "Add comment"%>
            <div class="position-relative">
                <button type="submit" class="btn btn-primary position-absolute bottom-0 end-0 m-3">Comment</button>
            </div>
        <%end%>
    </div>
    <%# comments section %>
    <%= render 'tweets/comments'%>
</div>


