<div class="container">
    <%=render 'components/side_bar'%>
</div>
<div class="container p-2 d-flex flex-column justify-content-center align-items-center">
    <%=render 'components/back_button'%>
    <div class="border rounded p-3" style="width: 55%;">
        <div class="d-inline-flex" style="cursor: pointer;" onclick="location.href='/user/<%=@tweet.user.id%>';">
            <p style="margin-right: 5px;"><%=@tweet.user.name%></p>
            <p style="color: gray;">@<%=@tweet.user.username%></p>
        </div>
        <div class="container">
            <p class="fs-4"><%=@tweet.message%></p>
            <small style="color: gray;"><%=time_ago_in_words(@tweet.created_at)%></small>
        </div>
        <%if @tweet.user_id == session[:user_id]%>
        <div class="position-relative">
            <%= link_to 'Delete', tweet_path(@tweet), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger position-absolute bottom-0 end-0"%>
        </div>
        <%end%>
    </div>

    <div style="width: 55%;" class="mb-3 mt-3">
        <p>Comments</p>
        <%# new comment form %>
        <%=form_with(model: @comment, local: true) do |f|%>
            <%=f.text_area :message, class: "form-control div-c", placeholder: "Add comment"%>
            <div class="position-relative">
                <button type="submit" class="btn btn-primary position-absolute bottom-0 end-0 m-3">Comment</button>
            </div>
        <%end%>
    </div>
    <%# comments section %>
    <%= render 'comments'%>
</div>


