<div class="container">
<h1>Twitter</h1>
    <%=render 'new_tweet'%>
    <p>Name: <%= @user.name%></p>
    <p>Email: <%= @user.email%></p>
    <p>Username: <%= @user.username%></p>
    <%= link_to 'Logout', login_path, data: { turbo_method: :delete }, data: {confirm: "Are you sure?"} %>
    <div class="container p-2 d-flex flex-column justify-content-center align-items-center">
    <%@tweets.each do |tweet|%>
        <div onclick="location.href='/tweet/<%=tweet.id%>';" class="container border p-2 tweet-container" style="width: 55%; cursor: pointer;">
            <p><%=tweet.user.name%> <span style="color: gray;">@<%=tweet.user.username%></span></p>
            <div class="container">
                <h6><%=tweet.message%></h6>
                <small style="color: gray;"><%=time_ago_in_words(tweet.created_at)%></small>
            </div>
        </div>
    <%end%>

</div>
</div>
