<div class="container p-2 d-flex flex-column justify-content-center align-items-center">
    <a href="/" class="container">Back</a>
    <div class="container border rounded p-2" style="width: 55%;">
            <div class="d-inline-flex tweet-container" onclick="location.href='/user/<%=@tweet.user.id%>';">
                <p style="margin-right: 5px;"><%=@tweet.user.name%></p>
                <p style="color: gray; cursor: pointer;">@<%=@tweet.user.username%></p>
            </div>
            <div class="container">
                <p class="fs-4"><%=@tweet.message%></p>
                <small style="color: gray;"><%=time_ago_in_words(@tweet.created_at)%></small>
            </div>
            <%@current_user.friends.each do |friend|%>
                <%if friend.id == @tweet.user_id%>
                    <small>You follow <%=friend.username%></small>
                <%end%>
            <%end%>
            <%if @tweet.user_id == session[:user_id]%>
            <div class="position-relative">
                <%= link_to 'Delete', tweet_path(@tweet), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger position-absolute bottom-0 end-0"%>
            </div>
            <%end%>
        </div>
</div>
