<h1>Signup</h1>

<% if @user.errors.any? %>
    <h2>The following errors prevented the user from being saved: </h2>
    <ul>
        <%@user.errors.full_messages.each do |msg|%>
            <li><%=msg%></li>
        <%end%>
    </ul>
<%end%>

<div class="p-3">

<%= form_with(scope: :user, local: true) do |f|%>
    <p>
        <%=f.label :name%>
        <br>
        <%=f.text_field :name%>
    </p>

    <p>
        <%=f.label :username%>
        <br>
        <%=f.text_field :username%>
    </p>

    <p>
        <%=f.label :email%>
        <br>
        <%=f.text_field :email%>
    </p>

    <p>
        <%=f.label :password%>
        <br>
        <%=f.password_field :password%>
    </p>
    <button type="submit">Signup</button>
<%end%>
<a href="/login">Login</a>
</div>

