<div class="container">
    <div class=" mt-5">
        <%=render 'components/back_button'%>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center mb-4">
        <div>
            <h1>@<%=@user.username%></h1>
        </div>
        <div>
        <%if @current_user.id != @user.id && @current_user.not_friends_with?(@user.id)%>
            <form action="/follow/<%=@user.id%>" method="post">
                <button type="submit" class="btn btn-primary">Follow</button>
            </form>
        <% else %>
            <%= link_to 'Unfollow', friendship_path(@user), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger"%>
        <%end%>
        </div>

    </div>
    <p class="text-center">Tweets</p>
    <%=render 'tweets/tweets'%>
</div>
