<div class="container mb-2">
    <div class=" mt-5">
        <%=render 'components/back_button'%>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center mb-4">
        <div class="d-flex justify-content-center align-items-center">
            <h1>@<%=@user.username%></h1>
            <%if @current_user.id === @user.id%>
                <a href="/user/<%=@user.id%>" class="text-white ms-2">
                    <i class="fa-regular fa-pen-to-square fa-lg"></i>
                </a>
            <%end%>
        </div>
        <div class="d-flex" style="color: gray;">
            <p class="me-3">Followers: <%=@following%></p>
            <p>Followers: <%=@followers%></p>
        </div>
        <div>
            <%if @current_user.id != @user.id%>
                <%if @current_user.id != @user.id && @current_user.not_friends_with?(@user.id)%>
                    <form action="/follow/<%=@user.id%>" method="post">
                        <button type="submit" class="btn btn-primary">Follow</button>
                    </form>
                <% else %>
                    <%= link_to 'Unfollow', friendship_path(@user), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "btn btn-danger"%>
                <%end%>
            <%end%>
        </div>
    <br>
    <%=render 'tweets/tweets_no_stats'%>
    </div>
</div>
